@model AcunMedyaProje1.Models.TBL_Slider
@{
    ViewBag.Title = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Slider Güncelleme Sayfası</h2>
<form method="post">

    @Html.HiddenFor(x => x.SliderID)
    <label>Ad Soyad : </label>
    @Html.TextBoxFor(x => x.NameSurname)
    <br />
    <br />
    <label>Açıklama : </label>
    @Html.TextBoxFor(x => x.Description)
    <br />
    <br />
    <label>Görsel Url : </label>
    @Html.TextBoxFor(x => x.ImageUrl)
    <br />
    <br />
    <button class="btn btn-primary">Güncelle</button>

</form>

