@model List<AcunMedyaProje1.Models.TBL_Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası Kategori Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CategoryID</th>
                <th>Kategori İsmi</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td><a href="/Categories/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Categories/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                </tr>


            }

        </tbody>
    </table>
    <a href="/Categories/CreatCategory/" class="btn btn-success">Oluştur</a>
</div>

