
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Testimonial Oluşturma Sayfası</h2>
<form method="post">

    <label>Açıklama</label>
    <input type="text" class="form-control" style="width : 500px;" name="Description1" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" class="form-control" style="width : 500px;" name="TestimonialName" />
    <br />
    <label>Açıklama 2</label>
    <input type="text" class="form-control" style="width : 500px;" name="Description2" />
    <br />
    <label>Image URL</label>
    <input type="text" class="form-control" style="width : 500px;" name="ImageURL" />
    <br />
    <label>Başlık(Meslek)</label>
    <input type="text" class="form-control" style="width : 500px;" name="Title" />
    <br />
    <button class="btn btn-success">Ekle</button>

</form>


