
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>About Oluşturma Sayfası</h2>
<form method="post">

    <label>Pozisyon(Meslek)</label>
    <input type="text" class="form-control" style="width : 500px;" name="Title" />
    <br />
    <label>Image URL</label>
    <input type="text" class="form-control" style="width : 500px;" name="ImageURL" />
    <br />
    <label>Yaş</label>
    <input type="text" class="form-control" style="width : 500px;" name="Age" />
    <br />
    <label>Doğum Günü</label>
    <input type="text" class="form-control" style="width : 500px;" name="Birthday" />
    <br />
    <label>Telefon Numarası</label>
    <input type="text" class="form-control" style="width : 500px;" name="Phone" />
    <br />
    <label>Email</label>
    <input type="text" class="form-control" style="width : 500px;" name="Email" />
    <br />
    <label>Web Sitesi</label>
    <input type="text" class="form-control" style="width : 500px;" name="WebSite" />
    <br />
    <label>Şehir</label>
    <input type="text" class="form-control" style="width : 500px;" name="City" />
    <br />
    <label>Freelance</label>
    <input type="text" class="form-control" style="width : 500px;" name="Freelance" />
    <br /><label>Derece</label>
    <input type="text" class="form-control" style="width : 500px;" name="Degree" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" style="width : 500px;" name="Description1" />
    <br />
    <label>Açıklama 2</label>
    <input type="text" class="form-control" style="width : 500px;" name="Description2" />
    <br />
    <button class="btn btn-success">Ekle</button>

</form>
